<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 CEA.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html

     Contributors:
        CEA - initial API and implementation and/or initial documentation

-->
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated resource -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.sensinact.studio.resource.presentation.ResourceModelWizardID"
            name="%_UI_ResourceModelWizard_label"
            class="org.eclipse.sensinact.studio.resource.presentation.ResourceModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ResourceModelFile.gif">
         <description>%_UI_ResourceModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated resource -->
      <editor
            id="org.eclipse.sensinact.studio.resource.presentation.ResourceEditorID"
            name="%_UI_ResourceEditor_label"
            icon="icons/full/obj16/ResourceModelFile.gif"
            extensions="resource"
            class="org.eclipse.sensinact.studio.resource.presentation.ResourceEditor"
            contributorClass="org.eclipse.sensinact.studio.resource.presentation.ResourceActionBarContributor">
      </editor>
   </extension>

</plugin>
